<h3>Infomed, Informacja o wygenerowaniu karty dla pacjenta!</h3>

<p>
<div>Dane pacjenta to:</div>
<div>Pacjent: {{ appointment.getIdPatient.getFullname }}</div>
</p>

<p>
    Pozdrawiamy<br/>
    Infomed
</p>