<h3>Infomed, nowy użytkownik zarejestrowany!</h3>

<p>
<div>Twoje dane do logowania to:</div>
<div>Login: {{ email }}</div>
<div>Hasło: {{ password }}</div>
</p>

<p>
    Pozdrawiamy<br/>
    Infomed
</p>